<body>
	<h1>Example usage:</h1>

	<p>Put this into your <code>onModuleLoad</code> method:</p>

	<pre>
		public void onModuleLoad() {
			MLPMenu mlpMenu = new MLPMenu();
			
			mlpMenu.setUserObject("Test Multi Level Push Menu");
			
			MLPMenuItem item_1 = new MLPMenuItem("item 1");
			MLPMenuItem item_2 = new MLPMenuItem("item 2");
			MLPMenuItem item_3 = new MLPMenuItem("item 3");
			mlpMenu.addItem(item_1);
			mlpMenu.addItem(item_2);
			mlpMenu.addItem(item_3);
			
			MLPMenuItem item_11 = new MLPMenuItem("item 11");
			MLPMenuItem item_12 = new MLPMenuItem("item 12");
			item_1.addItem(item_11);
			item_1.addItem(item_12);
			
			MLPMenuItem item_31 = new MLPMenuItem("item 31");
			MLPMenuItem item_32 = new MLPMenuItem("item 32");
			MLPMenuItem item_33 = new MLPMenuItem("item 33");
			item_3.addItem(item_31);
			item_3.addItem(item_32);
			item_3.addItem(item_33);
			
			MLPMenuItem item_311 = new MLPMenuItem("item 311");
			item_31.addItem(item_311);
			
			mlpMenu.setHeight("300px");
			
			RootPanel.get("nameFieldContainer").add(mlpMenu);
		}
	</pre>
</body>