@CHARSET "UTF-8";
/***********************************************************************
Copyright 2015 ITEN Engineering d.o.o.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
***********************************************************************/

@sprite .icon-sub-level {
	gwt-image: "iconLevel";
	background-position: center center;
}

@sprite .icon-show-more {
	gwt-image: "iconShowMore";
	background-position: top center;
}

@sprite .level-up-btn .icon-back {
	gwt-image: "iconLevel";
	background-position: center center;
}

@external icon-back, show-item-content, item-content, level-up-btn, icon-sub-level, mlp-menu-level-item, expanded, mlp-menu, panel-heading, icon-show-more, mlp-menu-level, mlp-menu-items;

.mlp-menu {
	border: 1px solid #ccc;
	background: #fff;
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	border-bottom-left-radius: 5px;
}

	.mlp-menu nav ul {
		list-style: none;
		list-style-image: none;
		margin: 0;
		padding: 0;
	}

	.mlp-menu .panel-heading {
		background: #e9f1fb;
		padding: 10px 12px;
		margin: 0;
	}
	/*mlp-menu-level classes serves for stacking levels on each other*/
	.mlp-menu-level {
		position: absolute;
		top: 0;
		background: #fff;
		width: 100%;
		min-height: 100%;
		left: -100%;
		-webkit-transition: left .35s ease-in-out;
		   -moz-transition: left .35s ease-in-out;
		    -ms-transition: left .35s ease-in-out;
		     -o-transition: left .35s ease-in-out;
		        transition: left .35s ease-in-out;
	}

	.mlp-menu li {
		border-bottom: 1px solid #d3d8da;
	}
	.mlp-menu li:first-child {
		border-top: 1px solid #d3d8da;
	}
		.mlp-menu-level-item {
			-webkit-transition: all .25s ease-in-out;
			   -moz-transition: all .25s ease-in-out;
			    -ms-transition: all .25s ease-in-out;
			     -o-transition: all .25s ease-in-out;
			        transition: all .25s ease-in-out;
		}
		.mlp-menu-level-item:hover {
			background: #f4f7f9;
		}
		.mlp-menu-level-item.expanded {
			/*border-bottom: 0;*/
		}
		.mlp-menu-level-item.expanded:hover {
			background: #fff;
		}
			.mlp-menu-level-item a {
				padding: 8px 12px;
				display: block;
				color: #425162;
			}
			.mlp-menu-level-item a:hover {
				text-decoration: none;
			}
			.icon-sub-level {
				margin-right: 5px;
				display: inline-block;
				width: 8px;
				height: 13px;
				position: relative;
				top: 2px;
			}
			.show-item-content {
				position: relative;
				top: 2px;
				float: right;
			}
			.mlp-menu-level-item.expanded .icon-show-more,
			.mlp-menu-level-item.expanded .icon-show-more:hover {
				background-position: bottom center;
			}
			.icon-show-more {
				width: 15px;
				height: 15px;
				display: inline-block;
				margin-right: 5px;
			}
			.icon-show-more:hover { 
				background-position: center center;
			}
				.item-content {
					display: none;
					overflow: hidden;
				}
					.item-content li {
						border-bottom: 0;
					}
					.item-content li:first-child {
						border-top: 0;
					}
					.item-content li:last-child {
						padding-bottom: 8px;
					}
					.item-content a {
						display: inline-block;
						color: #6092cf;
						padding: 2px 30px;
					}
					.item-content a:hover {
						text-decoration: underline;
					}
				.level-up-btn {
					padding: 8px 12px;
					display: inline-block;
					float: right;
				}
					.level-up-btn .icon-back {
						margin-right: 5px;
						display: inline-block;
						width: 9px;
						height: 14px;
						position: relative;
						top: 2px;
					}
		